UASServerReservationTaliscocaB/src/META-INF/wsdl/localhost_8080/UASWebServerReservationTaliscocaB/reservationServices.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://services.uasreservation.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.uasreservation.com/">

<xs:element name="checkEmail" type="tns:checkEmail"/>

<xs:element name="checkEmailResponse" type="tns:checkEmailResponse"/>

<xs:element name="checkLogin" type="tns:checkLogin"/>

<xs:element name="checkLoginResponse" type="tns:checkLoginResponse"/>

<xs:element name="deleteDataAccount" type="tns:deleteDataAccount"/>

<xs:element name="deleteDataAccountResponse" type="tns:deleteDataAccountResponse"/>

<xs:element name="deleteDataEvent" type="tns:deleteDataEvent"/>

<xs:element name="deleteDataEventReservation" type="tns:deleteDataEventReservation"/>

<xs:element name="deleteDataEventReservationResponse" type="tns:deleteDataEventReservationResponse"/>

<xs:element name="deleteDataEventResponse" type="tns:deleteDataEventResponse"/>

<xs:element name="deleteDataParking" type="tns:deleteDataParking"/>

<xs:element name="deleteDataParkingReservation" type="tns:deleteDataParkingReservation"/>

<xs:element name="deleteDataParkingReservationResponse" type="tns:deleteDataParkingReservationResponse"/>

<xs:element name="deleteDataParkingResponse" type="tns:deleteDataParkingResponse"/>

<xs:element name="insertDataAccount" type="tns:insertDataAccount"/>

<xs:element name="insertDataAccountResponse" type="tns:insertDataAccountResponse"/>

<xs:element name="insertDataEventReservation" type="tns:insertDataEventReservation"/>

<xs:element name="insertDataEventReservationResponse" type="tns:insertDataEventReservationResponse"/>

<xs:element name="insertDataParkingReservation" type="tns:insertDataParkingReservation"/>

<xs:element name="insertDataParkingReservationResponse" type="tns:insertDataParkingReservationResponse"/>

<xs:element name="updateDataAccount" type="tns:updateDataAccount"/>

<xs:element name="updateDataAccountResponse" type="tns:updateDataAccountResponse"/>

<xs:element name="updateDataEvent" type="tns:updateDataEvent"/>

<xs:element name="updateDataEventReservation" type="tns:updateDataEventReservation"/>

<xs:element name="updateDataEventReservationResponse" type="tns:updateDataEventReservationResponse"/>

<xs:element name="updateDataEventResponse" type="tns:updateDataEventResponse"/>

<xs:element name="updateDataParking" type="tns:updateDataParking"/>

<xs:element name="updateDataParkingReservation" type="tns:updateDataParkingReservation"/>

<xs:element name="updateDataParkingReservationResponse" type="tns:updateDataParkingReservationResponse"/>

<xs:element name="updateDataParkingResponse" type="tns:updateDataParkingResponse"/>

<xs:element name="viewListDataAccount" type="tns:viewListDataAccount"/>

<xs:element name="viewListDataAccountResponse" type="tns:viewListDataAccountResponse"/>

<xs:element name="viewListDataEvent" type="tns:viewListDataEvent"/>

<xs:element name="viewListDataEventReservation" type="tns:viewListDataEventReservation"/>

<xs:element name="viewListDataEventReservationResponse" type="tns:viewListDataEventReservationResponse"/>

<xs:element name="viewListDataEventResponse" type="tns:viewListDataEventResponse"/>

<xs:element name="viewListDataParking" type="tns:viewListDataParking"/>

<xs:element name="viewListDataParkingReservation" type="tns:viewListDataParkingReservation"/>

<xs:element name="viewListDataParkingReservationResponse" type="tns:viewListDataParkingReservationResponse"/>

<xs:element name="viewListDataParkingResponse" type="tns:viewListDataParkingResponse"/>

<xs:complexType name="insertDataEventReservation">
<xs:sequence>
<xs:element name="account_id" type="xs:int"/>
<xs:element name="event_id" type="xs:int"/>
<xs:element name="quantity" type="xs:int"/>
<xs:element name="amount" type="xs:double"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="claim_date" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertDataEventReservationResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="insertDataParkingReservation">
<xs:sequence>
<xs:element name="accounts_id" type="xs:int"/>
<xs:element name="parkings_id" type="xs:int"/>
<xs:element name="quantity" type="xs:int"/>
<xs:element name="amount" type="xs:double"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="claim_date" type="tns:timestamp" minOccurs="0"/>
<xs:element name="claimed_date" type="tns:timestamp" minOccurs="0"/>
<xs:element name="updated_at" type="tns:timestamp" minOccurs="0"/>
<xs:element name="created_at" type="tns:timestamp" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="timestamp">
<xs:sequence>
<xs:element name="nanos" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertDataParkingReservationResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="deleteDataParkingReservation">
<xs:sequence>
<xs:element name="accounts_id" type="xs:int"/>
<xs:element name="parkings_id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteDataParkingReservationResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="updateDataParkingReservation">
<xs:sequence>
<xs:element name="accounts_id" type="xs:int"/>
<xs:element name="parkings_id" type="xs:int"/>
<xs:element name="quantity" type="xs:int"/>
<xs:element name="amount" type="xs:double"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="claim_date" type="tns:timestamp" minOccurs="0"/>
<xs:element name="claimed_date" type="tns:timestamp" minOccurs="0"/>
<xs:element name="updated_at" type="tns:timestamp" minOccurs="0"/>
<xs:element name="created_at" type="tns:timestamp" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateDataParkingReservationResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="viewListDataAccount">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="viewListDataAccountResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteDataAccount">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteDataAccountResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="viewListDataParkingReservation">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="viewListDataParkingReservationResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertDataAccount">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="dob" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="balance" type="xs:double"/>
<xs:element name="updated_at" type="xs:string" minOccurs="0"/>
<xs:element name="created_at" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertDataAccountResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="checkEmail">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkEmailResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewListDataEventReservation">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="viewListDataEventReservationResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateDataEvent">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="event_name" type="xs:string" minOccurs="0"/>
<xs:element name="event_date" type="tns:timestamp" minOccurs="0"/>
<xs:element name="category" type="xs:string" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="participant_slot" type="xs:int"/>
<xs:element name="number_of_participant" type="xs:int"/>
<xs:element name="open_reservation_date" type="tns:timestamp" minOccurs="0"/>
<xs:element name="close_reservation_date" type="tns:timestamp" minOccurs="0"/>
<xs:element name="locations_id" type="xs:int"/>
<xs:element name="price" type="xs:double"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateDataEventResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="viewListDataEvent">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="viewListDataEventResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateDataAccount">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="dob" type="tns:localDate" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="balance" type="xs:double"/>
<xs:element name="updated_at" type="tns:timestamp" minOccurs="0"/>
<xs:element name="created_at" type="tns:timestamp" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="localDate" final="extension restriction">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="updateDataAccountResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="deleteDataEventReservation">
<xs:sequence>
<xs:element name="account_id" type="xs:int"/>
<xs:element name="event_id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteDataEventReservationResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="updateDataParking">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="parking_area" type="xs:string" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="available_date" type="tns:timestamp" minOccurs="0"/>
<xs:element name="locations_id" type="xs:int"/>
<xs:element name="price" type="xs:double"/>
<xs:element name="updated_at" type="tns:timestamp" minOccurs="0"/>
<xs:element name="created_at" type="tns:timestamp" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateDataParkingResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="deleteDataParking">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteDataParkingResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="updateDataEventReservation">
<xs:sequence>
<xs:element name="account_id" type="xs:int"/>
<xs:element name="event_id" type="xs:int"/>
<xs:element name="quantity" type="xs:int"/>
<xs:element name="amount" type="xs:double"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="claim_date" type="tns:localDate" minOccurs="0"/>
<xs:element name="claimed_date" type="tns:timestamp" minOccurs="0"/>
<xs:element name="updated_at" type="tns:timestamp" minOccurs="0"/>
<xs:element name="created_at" type="tns:timestamp" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateDataEventReservationResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="viewListDataParking">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="viewListDataParkingResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteDataEvent">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteDataEventResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="checkLogin">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkLoginResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>